:root{
    --dark-col: #4D0000;
    --light-col: #FFE6CC;
    --higlight-col: #EED5BB;
    --box-padding: 6px;
    --pix-width: max(900px, 50vw);
    --lr-padding: 1em;
    --border-width: 1px;
    padding: 0;
    margin: 0;
}
/* on mobile */
@media screen and (max-width: 800px) {
    :root{
        --lr-margin: 0px;
        --main-width: 100vw;
        --sidebar-width: 100vw;
        --narrow-width: 100vw;
    }
    aside{
        float: none;
    }

    
}

/* on desktop */
@media screen and (min-width: 800px) {
    :root{
        --lr-margin: calc( ( 100vw - var(--pix-width))/2 ) ;
        --sidebar-width: 220px;
        --main-width: calc( var(--pix-width) - 2 * var(--border-width));
        --narrow-width: calc(var(--pix-width) - 4 * var(--border-width) - var(--box-padding) - var(--sidebar-width));
    }
    aside{
        position: absolute;
    }
}

div{
    padding: 0;
    margin: 0;
}

body {
    all: unset;
    color: var(--dark-col);
    font-family: "FreePixel", Courier, monospace;
    background-image: url("graphics/earth_grad_2.png");
    background-repeat: repeat;
    background-position: right center;
    background-attachment: fixed;
    image-rendering: pixelated;

}
img {
  image-rendering: pixelated;
  padding: 0;
}



h1 {
    background-color: var(--dark-col);
    color: var(--light-col);
    margin: 0;
    padding-left: var(--lr-padding);
    text-align: left;
    width: calc( 100% - var(--lr-padding));
    font-size: 1.2em;
}
h2{
    margin: 0;
    padding-left: var(--lr-padding);
    width: calc( 100% - var(--lr-padding));
    font-size: 1.2em;
}
p {
    /*font-family: serif;*/
    font-size: 1em;
    margin: 0 1em 1em 1em;
}
a{
    color: inherit;
}
a:hover{
    background-color: var(--highlight-col);
}


ul{
    list-style-type: square;
    padding-left: 2em;
    padding-right: 1em;
}
.flex{
    display: flex;
    padding: 1em;
    flex-wrap: wrap;
    gap: 1em;
    justify-content:center;
}
.nav-ul{
    padding-left: 1em;
    padding-right: 0;

}
.body-image{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
.square-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
}
.body-container{
    height: fit-content;
    margin: 0em var(--lr-margin) 1em var(--lr-margin);
    padding: 0em;
}

.main-body {
    display: inline-block;
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--dark-col);

    clear: right;
    background-color: var(--light-col);
    width: var(--main-width);
    height: fit-content;
    padding: 0em;
    margin: 0em;

}
.narrow-body{
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--dark-col);


    /* top right bottom left 
     * top-bottom left-right */
    height: fit-content;
    padding: 0em ;
    background-color: var(--light-col);

    margin: var(--box-padding) 0em 0em 0em;
    width: calc(var(--narrow-width) -   2*var(--border-width));

}
aside{
    width: calc(var(--sidebar-width)  );
    right: calc(var(--lr-margin));
    margin: var(--box-padding) 0em 0em 0em;
    padding: 0em;
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--dark-col);
    background-color: var(--light-col);
}
.navigation-text{
    columns: 200px 3;
    padding-left: 1em;
    padding-right: 1em;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsed_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.button{
    cursor: pointer;
    margin: 0;
}
.blink-text{
	color: #000;
	font-weight: bold;
	font-size: 2rem;
	animation: blinkingText 2s infinite;
}
.rotate-element{
    animation: rotateAnimation 10s infinite;
    animation-timing-function: linear;
}
#button-container{
    text-align: center;
    margin: 1em;
}
#me-portrait{
    width: min(400px, 100vw);
    float: right;
}
@keyframes blinkingText{
	0%		{ color: #10c018;}
	25%		{ color: #1056c0;}
	50%		{ color: #ef0a1a;}
	75%		{ color: #254878;}
	100%	{ color: #04a1d5;}
}
@keyframes rotateAnimation{
	0%		{ transform : rotate(0deg); }
	100%	{ transform : rotate(360deg); }
}
@font-face {
  font-family: FreePixel;
  src: url(fonts/FreePixel.ttf);
}
